name: Build targets

on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: frame (x86_64-linux)
            attr: nixosConfigurations.frame.config.system.build.toplevel
            os: ubuntu-latest
          - name: nvws (x86_64-linux)
            attr: nixosConfigurations.nvws.config.system.build.toplevel
            os: ubuntu-latest
          # Build just prx1-lab since other nodes are identical by design.
          - name: prx1-lab (x86_64-linux)
            attr: nixosConfigurations.prx1-lab.config.system.build.toplevel
            os: ubuntu-latest
          # For macos, we have to build special "ci" flavors that don't use
          # custom linux-builder config that requires aarch64-linux builder.
          # Use stock builder config to pull the derivation from nixos cache
          # instead.
          - name: mair-ci (aarch64-darwin)
            attr: darwinConfigurations.mair-ci.system
            os: macos-26
          - name: mmini-ci (aarch64-darwin)
            attr: darwinConfigurations.mmini-ci.system
            os: macos-26
          - name: ihrachyshka-mlt-ci (aarch64-darwin)
            attr: darwinConfigurations.ihrachyshka-mlt-ci.system
            os: macos-26

    timeout-minutes: 180

    steps:
      - name: Free disk space (Ubuntu)
        if: runner.os == 'Linux'
        uses: jlumbroso/free-disk-space@main
        with:
          android: true
          dotnet: true
          haskell: true
          tool-cache: false

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v11

      - name: Build ${{ matrix.name }}
        env:
          NIX_CONFIG: "extra-experimental-features = nix-command flakes"
        run: nix build ".#${{ matrix.attr }}" --no-link --print-build-logs
