name: Format check

on:
  pull_request:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  nix-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Setup magic Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Format
        run: nix fmt .

      - name: Ensure clean working tree
        run: |
          git status --short
          if ! git diff --quiet --exit-code; then
            echo "Repository dirty after formatting. Please commit formatting changes."
            exit 1
          fi
